spring.application.name: peep-bot
spring.main.lazy-initialization: true

dev.tylercash:
  cors:
    allowed-origins: https://event.tylercash.dev
  discord:
    timeout: 60
    seperator-channel: organising
  frontend:
    protocol: https
    hostname: event.tylercash.dev
    path: /

springdoc:
  show-oauth2-endpoints: true

server:
  forward-headers-strategy: NATIVE
  tomcat:
    use-relative-redirects: false
    remoteip:
      remote-ip-header: x-forwarded-for
      protocol-header: x-forwarded-proto
  servlet:
    session:
      cookie:
        secure: true
    context-path: /api/

spring:
  session:
    cookie:
      name: SESSION
      http-only: true
      secure: true
      same-site: Lax
    jdbc:
      initialize-schema: never
      cleanup-cron: 0 * * * * *
  datasource:
    driverClassName: org.postgresql.Driver
  security:
    oauth2:
      client:
        registration:
          discord:
            client-authentication-method: client_secret_post
            authorizationGrantType: authorization_code
            scope:
              - identify
            redirectUri: "{baseUrl}/login/oauth2/code/discord"
            clientName: Peep Bot
        provider:
          discord:
            authorizationUri: https://discordapp.com/api/oauth2/authorize
            tokenUri: https://discordapp.com/api/oauth2/token
            userInfoUri: https://discordapp.com/api/users/@me
            usernameAttribute: username

management:
  endpoints:
    web:
      exposure:
        include: [ health, prometheus ]
  prometheus:
    metrics:
      export:
        enabled: true

